<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 80px;">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Login</label>
                    <input type="text" class="form-control login" id="exampleFormControlInput1"
                        placeholder="Enter login" [(ngModel)]="userLogin" name="userLogin">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2">Password</label>
                    <input type="password" class="form-control password" id="exampleFormControlInput2"
                        placeholder="Enter password" [(ngModel)]="userPassword" name="userPassword">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput3">Email address</label>
                    <input type="email" class="form-control email" id="exampleFormControlInput3"
                        placeholder="Enter email" [(ngModel)]="userEmail" name="userEmail">
                </div>
                <button type="button" *ngIf="isEdited" class="btn btn-outline-success btn-add" (click)="addUser()">Add
                    user</button>
                <button type="button" *ngIf="!isEdited" class="btn btn-outline-success btn-edit-user"
                    (click)="saveEditUser()">Edit user</button>
            </form>
        </div>
        <div class="col" style="margin-top: 80px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Login</th>
                        <th scope="col">Password</th>
                        <th scope="col">Email</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td><button type="button" class="btn btn-warning" (click)="editUser(i)">Edit</button></td>
                        <td><button type="button" class="btn btn-danger" (click)="deleteUser(i)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>